# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.sqlite3

# Virtual environments
venv/
ENV/
env/

# Data files (optional, if you don't want to track datasets)
*.csv
*.tsv
*.xls
*.xlsx

# Logs
*.log

# VSCode/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db