.Datanav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7469B6;
  padding: 10px 20px;
  color: white;
}

.datanav-logo img {
  height: 50px;
  width: auto;
}

.datanav-title {
  font-size: 24px;
}

.datanavnav-icon {
  cursor: pointer;
  font-size: 20px;
}
