.explore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.explore-header {
  text-align: center;
  margin-bottom: 20px;
}

.explore-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2e8b57;
  text-shadow: 1px 1px 2px #000;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

.explore-heading:hover{
  color: #260e74;
  transform: scale(1.05);
  cursor: pointer;
}
.explore-message {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}

.svg-container {
  background-color: #aba1e2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.andhra-map {
  width: 100%;
  max-width: 800px;
  height: auto;
  border: none;
}

@media (max-width: 768px) {
  .explore-heading {
    font-size: 2rem;
  }
  .explore-message {
    font-size: 1rem;
  }
}
